<html>
  <head>
    <title>
      Product Form Library Demo - You want to override the default product
      options
    </title>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <main class="container">
      <div class="px-4 pt-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/public/logo-avnt2.svg" />
        <h1 class="display-5 fw-bold text-body-emphasis">
          Product Form Library Demo
        </h1>
        <div class="col-lg-6 mx-auto mb-4">
          <p class="lead">You want to override the default product options</p>
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="insurance-tab"
                data-bs-toggle="tab"
                data-bs-target="#insurance"
                type="button"
                role="tab"
                aria-controls="insurance"
                aria-selected="true"
              >
                Insurance Object
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="product-tab"
                data-bs-toggle="tab"
                data-bs-target="#product"
                type="button"
                role="tab"
                aria-controls="product"
                aria-selected="false"
              >
                Product Config
              </button>
            </li>
          </ul>
          <div class="tab-content">
            <div
              class="tab-pane fade show active"
              id="insurance"
              role="tabpanel"
              aria-labelledby="insurance-tab"
            >
              <div class="alert alert-primary mt-3" role="alert">
                <b>See:</b>
                <a
                  href="https://portal.api-int.codeoscopic.io/#get-/insurances/-id-"
                  target="_blank"
                  >Retrieve an insurance project</a
                >
                on API Portal
              </div>

              <div id="insurance-editor" style="height: 400px"></div>
            </div>
            <div
              class="tab-pane fade"
              id="product"
              role="tabpanel"
              aria-labelledby="product-tab"
            >
              <div class="alert alert-primary mt-3" role="alert">
                <b>See:</b>
                <a
                  href="https://portal.api-int.codeoscopic.io/#get-/insurance-lines/-id-/products"
                  target="_blank"
                  >List insurance products</a
                >
                on API Portal
              </div>

              <div id="product-editor" style="height: 400px"></div>
            </div>
          </div>
          <hr />
          <div class="col-lg-6 mx-auto">
            <button
              id="render-product-form-btn"
              type="button"
              class="btn btn-primary my-2"
              onClick="renderProductForm()"
            >
              Render product form
            </button>
          </div>
        </div>
      </div>

      <div id="product-form-wrapper" style="display: none">
        <div class="px-4">
          <div class="card" id="product-form-card">
            <div class="card-body">
              <div id="product-form-iframe"></div>
            </div>
          </div>
        </div>

        <div class="px-4 d-md-flex justify-content-md-end">
          <button
            id="get-options-btn"
            type="button"
            class="btn btn-primary my-2"
            onClick="getProductFormOptions()"
            disabled
          >
            Get product options
          </button>
        </div>

        <div class="px-4 pt-2 pb-5">
          <div
            id="alert-error"
            class="alert alert-danger"
            style="display: none"
          ></div>
          <div id="product-options-viewer" style="height: 400px"></div>
        </div>
      </div>
    </main>
  </body>

  <%- include('../partials/footer'); %>
  <script
    async
    src="https://<%= process.env.CLIENT_PRODUCT_FORM_DOMAIN %>/js.js"
  ></script>
  <script>
    const getOptionsBtn = document.getElementById("get-options-btn");
    let productForm, insuranceEditor, productEditor;

    window.avantProductFormInit = () => {
      console.log("Avant Product Form Initialized");

      // Create new instance of AvantProductForm on the div with id "product-form-iframe"
      productForm = new AvantProductForm(
        // Set the id of the div where the iframe will be rendered
        "product-form-iframe",
        // Set the data callback function
        (request) => {
          return fetch("/api/product-form-requests", {
            method: "POST",
            body: JSON.stringify(request),
            headers: {
              "Content-Type": "application/json",
              // Set the authorization header with your backend auth token if it is needed
              // Authorization: "your_backend_auth_token",
            },
          }).then(async (res) => {
            const response = await res.json();
            if (res.status === 200) {
              return response;
            }
            throw new Error(String(response.message || response.error));
          });
        }
      );

      insuranceEditor = renderJsonEditor(
        document.getElementById("insurance-editor"),
        {}
      );
      productEditor = renderJsonEditor(
        document.getElementById("product-editor"),
        {
          config: {
            id: 0,
          },
        }
      );
    };
  </script>
  <script>
    async function renderProductForm() {
      const productFormCardEl = document.getElementById("product-form-card");
      const renderProductFormBtn = document.getElementById(
        "render-product-form-btn"
      );
      const productFormWrapperEl = document.getElementById(
        "product-form-wrapper"
      );

      try {
        productFormWrapperEl.style.display = "block";
        renderProductFormBtn.disabled = true;
        alertErrorEl.style.display = "none";
        productFormCardEl.style.display = "block";
        getOptionsBtn.style.display = "block";

        const insurance = insuranceEditor.get();
        const product = productEditor.get();
        console.log("Using insurance and product objects:", {
          insurance,
          product,
        });

        // Call render method with insurance and product objects
        await productForm.render(insurance, product);
        getOptionsBtn.disabled = false;
      } catch (error) {
        alertErrorEl.innerHTML = `Error: ${error}`;
        alertErrorEl.style.display = "block";
        getOptionsBtn.style.display = "none";
        productFormCardEl.style.display = "none";
      } finally {
        renderProductFormBtn.disabled = false;
      }
    }
  </script>
  <script>
    const alertErrorEl = document.getElementById("alert-error");
    const productOptionsViewerEl = document.getElementById(
      "product-options-viewer"
    );
    let productOptionsEditor;

    async function getProductFormOptions() {
      alertErrorEl.style.display = "none";

      try {
        const values = await productForm.getProductOptions();
        console.log("Product options:", values);
        if (!productOptionsEditor) {
          productOptionsEditor = renderJsonEditor(
            productOptionsViewerEl,
            values,
            { mode: "view" }
          );
          productOptionsEditor.expandAll();
        } else {
          productOptionsEditor.update(values);
        }
      } catch (error) {
        alertErrorEl.innerHTML = "There are some validation errors.";
        alertErrorEl.style.display = "block";
      }
    }
  </script>
</html>
